.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.form-content {
  align-items: center;
  max-width: 300px;
  border: 1px solid lightgray;
  padding: 30px 50px;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 10px 10px 10px lightblue;
}

.form-content h1 {
  margin: 0px; 
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: lighter;
}

@media only screen and (max-width: 767px) {

  .form-content {
    width: 70%;    
    box-shadow: 10px 10px 10px lightblue;
    padding: 30px 30px;
  }

}