.dashboard-container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.dashboard-counter{
    width: 50%;
    border: 1px solid black;
    overflow: hidden;
    min-width: 400px;
}

.dashboard-charts{
    width: 50%;
}